@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap");

/************ GLOBAL STYLES ************/

:root {
    --green-light: #92e7c9;
    --green-med: #67d1ac;
    --green-dark: #41b38b;
    --green-opaque: rgb(167 236 212 / 0.5);
    --green-system: #0bd2b2;
    --blue-light: #97bfe5;
    --blue-med: #6d9ece;
    --blue-dark: #487cae;
    --orange-light: #ffc0a1;
    --orange-med: #ffa77d;
    --orange-dark: #ff925d;
    --black-med: #333431;
    --grey-light: #eee;
    --grey-med: #bdbdbd;
    --grey-opaque: #f6f9fa;
    --night-blue: #0b1a2f;
    --night-blue-light: #192b42;
    --shadow-high: 0 1.6px 3.6px rgba(0, 0, 0, 0.024),
        0 4.5px 10px rgba(0, 0, 0, 0.035), 0 10.9px 24.1px rgba(0, 0, 0, 0.046),
        0 36px 80px rgba(0, 0, 0, 0.07);
    --shadow-low: 0 0.2px 2.2px -16px rgba(0, 0, 0, 0.02),
        0 0.5px 5.3px -16px rgba(0, 0, 0, 0.028),
        0 1px 10px -16px rgba(0, 0, 0, 0.035),
        0 1.8px 17.9px -16px rgba(0, 0, 0, 0.042),
        0 3.3px 33.4px -16px rgba(0, 0, 0, 0.05),
        0 8px 80px -16px rgba(0, 0, 0, 0.07);
}

body {
    margin: 0;
    color: var(--black-med);
    min-height: 100vh;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a {
    color: inherit;
}

a:focus,
button:focus {
    outline: none;
}

li {
    list-style: none;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 2.5em;
}

h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 1.2em;
    font-weight: 700;
}

button {
    cursor: pointer;
}

strong {
    color: inherit;
}

.fas {
    margin: 0 0.25em;
    color: inherit;
}

.fa-database {
    color: var(--blue-light);
}

.fa-user {
    color: var(--green-light);
}

/************ ELEMENT STYLES ************/

.page_wrap {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; */
}

.page_wrap.index {
    background-color: #92e7c9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23a9e3cf' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23bee2d6' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23d1e4dd' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23e1e8e5' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23eeeeee' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23eff0f1' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f1f3f3' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f2f5f6' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f4f7f8' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f6f9fa' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.page_wrap.rooms {
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.47'%3E%3Cpath fill='%23f0f0f0' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f1f2f3' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f3f5f5' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f4f7f8' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23f6f9fa' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f4f6f7' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f2f3f4' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23eff1f1' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23edeeee' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ebebeb' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.home_form_wrap #bit_logo {
    max-width: 16em;
    margin: 1em;
}

#bit_logo {
    max-width: 12em;
    margin: 1em;
}

.home_form_wrap {
    margin-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.room_wrap {
    margin-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
    animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

input[name="userName"] {
    border: none;
    border-bottom: 1px solid var(--green-med);
    border-radius: 0;
    background: var(--green-opaque);
}

button.room_add {
    border: 1px solid var(--green-dark);
    color: var(--green-med);
}

button.room_add:hover {
    border: none;
    color: white;
    background: var(--green-system);
}

.room_listing_wrap {
    overflow-y: auto;
    max-height: 16em;
    border-bottom: 1px solid var(--black-med);
    margin-bottom: 0.5em;
}

.room_list_wrap {
    width: 24em;
    border: 1px solid var(--black-med);
    padding: 3em;
    margin: 2em 0;
    border-radius: 0.25em;
    -webkit-box-shadow: var(--shadow-high);
    box-shadow: var(--shadow-high);
    background: white;
}

.room_list_wrap button {
    width: 100%;
}

.room_user_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.room_listing {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 1em 0;
    border: 1px solid var(--black-med);
    padding: 0.5em;
    -webkit-box-shadow: 0.25em 0.25em var(--grey-light);
    box-shadow: 0.25em 0.25em var(--grey-light);
    border-radius: 0.25em;
}

.room_listing:hover {
    background: var(--grey-light);
}

.room_grid i {
    margin-left: 0.5em;
}

.room_controls {
    padding: 0 1em;
    margin-right: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 12em;
}

.room_name,
.room_description,
.user_list_wrap {
    margin-top: 1em;
}

.room_link {
    cursor: pointer;
    color: var(--grey-med);
    font-size: 0.8em;
}

.room_link:hover {
    color: var(--black-med);
}

#room_link_text {
    position: absolute;
    left: -99999px;
}

.room_privacy {
    font-size: 0.8em;
    opacity: 0.5;
}

.fa-eye {
    margin-left: 0;
}

.room_img {
    max-width: 10em;
    max-height: 10em;
    -webkit-box-shadow: 0.25em 0.25em var(--grey-light);
    box-shadow: 0.25em 0.25em var(--grey-light);
    border: 1px solid var(--black-med);
    border-radius: 0.25em;
}

.edit_controls_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.controls_edit {
    margin-top: 0.5em;
    border: 1px solid var(--black-med);
    margin-right: 0.5em;
    padding: 0.25em;
    border-radius: 0.125em;
}

.controls_delete {
    background: var(--orange-med);
    border: 1px solid var(--black-med);
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding: 0.25em;
    border-radius: 0.125em;
}

input[type="checkbox"] {
    margin-left: 0.5em;
}

.chat_wrap {
    border: 1px solid var(--black-med);
    width: 600px;
    -webkit-box-shadow: 0.5em 0.5em #efefef;
    box-shadow: 0.5em 0.5em #efefef;
    -webkit-box-shadow: var(--shadow-low);
    box-shadow: var(--shadow-low);
    border-radius: 0.25em;
    background: white;
}

.user_list_wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    max-height: 12em;
}

.user_list_header {
    font-weight: 700;
    margin-bottom: 0.25em;
}

.user_list {
    padding: 0;
}

.user_list_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user_list_name::before {
    width: 0.5em;
    height: 0.5em;
    background: transparent;
    border-left: 1px solid var(--blue-light);
    border-bottom: 1px solid var(--blue-light);
    content: "";
}

.messages_wrap {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message_name {
    font-weight: bold;
    margin: 0;
}

.message_text {
    margin-top: 0;
}

.message_time {
    font-size: 0.6em;
    margin-left: 0.5em;
    opacity: 0.75;
}

.chat_wrap ul {
    padding: 0;
    margin: 0;
}

.chat_wrap li {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.25em;
    background: var(--green-opaque);
}

.chat_wrap li.lobby-bot {
    background: var(--grey-light);
}

.input_wrap {
    border-top: 1px solid var(--black-med);
}

.input_wrap input[type="text"] {
    width: 85%;
    height: 2em;
    margin: 0;
    border: none;
    padding: 0.25em;
}

.input_wrap button[type="submit"] {
    width: 15%;
    height: 2em;
    margin: 0;
    border: none;
    border-left: 1px solid var(--black-med);
    padding: 0.25em;
    background: var(--green-light);
    border-radius: 0 0 0.25em 0;
}

.input_wrap button[type="submit"]:hover {
    background: var(--green-med);
}

.theme_wrap {
    position: absolute;
    top: 1em;
    right: 1em;
}

.theme_wrap button {
    -webkit-box-shadow: 0.25em 0.25em var(--grey-light);
    box-shadow: 0.25em 0.25em var(--grey-light);
}

.theme_wrap button.is-active {
    background: var(--green-light);
}

.theme_wrap i {
    padding: 0.25em 0;
}

#lightTheme {
    padding: 0.25em;
    margin: 0;
    border: 1px solid var(--black-med);
    border-right: none;
    border-radius: 0.125em 0.125em 0 0;
}

#darkTheme {
    padding: 0.25em;
    margin: 0;
    border: 1px solid var(--black-med);
    border-radius: 0 0 0.125em 0.125em;
}

footer {
    width: 100%;
    background: var(--black-med);
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer a {
    color: var(--grey-light);
}

footer a:hover {
    color: var(--blue-light);
}

.edit_wrap {
    width: 24em;
    border: 1px solid var(--black-med);
    padding: 3em;
    margin: 2em 0;
    border-radius: 0.25em;
    background: white;
    -webkit-box-shadow: var(--shadow-low);
    box-shadow: var(--shadow-low);
}

.edit_wrap input {
    margin-bottom: 0.25em;
}

/************ DARK MODE STYLES ************/

body.dark {
    background: var(--night-blue);
    color: var(--green-light);
}

body.dark .page_wrap {
    background-image: none;
    background-color: transparent;
}

body.dark svg#bit_logo path {
    fill: var(--blue-light);
}

body.dark input[name="userName"] {
    color: var(--night-blue);
}

body.dark .room_listing {
    border: 1px solid var(--blue-dark);
    -webkit-box-shadow: 0.25em 0.25em var(--green-opaque);
    box-shadow: 0.25em 0.25em var(--green-opaque);
}

body.dark .room_listing:hover {
    background: var(--night-blue-light);
}

body.dark .room_img {
    -webkit-box-shadow: 0.25em 0.25em var(--night-blue-light);
    box-shadow: 0.25em 0.25em var(--night-blue-light);
}

body.dark .room_list_wrap {
    background: transparent;
    border: 1px solid var(--blue-dark);
    -webkit-box-shadow: 0.25em 0.25em var(--night-blue-light);
    box-shadow: 0.25em 0.25em var(--night-blue-light);
}

body.dark .button.is-primary {
    background-color: var(--green-opaque);
    color: var(--night-blue);
}

body.dark .button.is-primary:hover {
    background-color: var(--night-blue-light);
    border: 1px solid var(--blue-light);
    color: var(--green-light);
}

body.dark footer {
    background: var(--blue-dark);
}

body.dark .fa-user {
    color: var(--green-opaque);
    opacity: 0.5;
}

body.dark button.room_add {
    background: var(--blue-light);
    border-color: var(--blue-light);
    color: var(--black-med);
}

body.dark button.room_add:hover {
    background: var(--night-blue-light);
    border: 1px solid var(--blue-light);
    color: var(--blue-light);
}

body.dark .theme_wrap button {
    -webkit-box-shadow: 0.25em 0.25em var(--black-med);
    box-shadow: 0.25em 0.25em var(--black-med);
}

body.dark .chat_wrap {
    -webkit-box-shadow: 0.5em 0.5em var(--night-blue-light);
    box-shadow: 0.5em 0.5em var(--night-blue-light);
    border: 1px solid var(--green-opaque);
    background: transparent;
}

body.dark .chat_wrap li {
    background: var(--night-blue);
    border: 1px solid var(--green-opaque);
}

body.dark .chat_wrap li.lobby-bot {
    border: 1px solid var(--blue-light);
    color: var(--blue-light);
}

body.dark .input_wrap .input[type="text"] {
    background: var(--night-blue-light);
    border-radius: 0 0 0 0.25em;
    border-top: 1px solid var(--green-med);
}

body.dark .input_wrap button[type="submit"] {
    background: var(--green-med);
    border: 1px solid var(--green-med);
}

body.dark .edit_wrap {
    -webkit-box-shadow: 0.5em 0.5em var(--night-blue-light);
    box-shadow: 0.5em 0.5em var(--night-blue-light);
    border: 1px solid var(--blue-light);
    background: transparent;
}

body.dark .edit_wrap input {
    background: var(--green-opaque);
    color: var(--black-med);
}

/************ @ MEDIA QUERIES ************/

@media screen and (max-width: 768px) {
    #bit_logo {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .index #bit_logo {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .room_wrap {
        margin-top: 1em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .room_controls {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0;
        margin: 1em 0;
        max-width: 100%;
    }
    .room_details_wrap {
        margin: 0 1em;
    }
    .room_img {
        max-width: 5em;
        max-height: 5em;
    }
    .room_name {
        margin: 0;
    }
    .room_description {
        margin: 0;
    }
    .user_list_wrap {
        display: none;
    }
    .chat_wrap {
        width: calc(100vw - 2em);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .messages_wrap {
        height: 20em;
    }
    .send_label {
        display: none;
    }
    footer {
        position: initial;
        margin-top: 2em;
    }
}

/************ ANIMATIONS ************/

.fade-in {
    -webkit-animation: fade-in 1.4s cubic-bezier(0.5, 1, 0.89, 1) forwards;
    animation: fade-in 1.4s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-in {
    -webkit-animation: slide-in 0.5s cubic-bezier(0.5, 1, 0.89, 1) forwards;
    animation: slide-in 0.5s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@-webkit-keyframes slide-in {
    from {
        opacity: 0;
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.spin {
    -webkit-animation: spin 0.5s cubic-bezier(0.5, 1, 0.89, 1);
    animation: spin 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*** delay util classes ***/

.polygon {
    -webkit-transform: rotateY(90deg) rotateX(-15deg);
    transform: rotateY(90deg) rotateX(-15deg);
    -webkit-animation: polymorph 1s ease-in-out forwards;
    animation: polymorph 1s ease-in-out forwards;
}

@-webkit-keyframes polymorph {
    from {
        -webkit-transform: rotateY(90deg) rotateX(-15deg);
        transform: rotateY(90deg) rotateX(-15deg);
    }
    to {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        transform: rotateY(0deg) rotateX(0deg);
    }
}

@keyframes polymorph {
    from {
        -webkit-transform: rotateY(90deg) rotateX(-15deg);
        transform: rotateY(90deg) rotateX(-15deg);
    }
    to {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        transform: rotateY(0deg) rotateX(0deg);
    }
}

.delay-0 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.delay-1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.delay-2 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
