@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap");

/************ GLOBAL STYLES ************/

:root {
    --green-light: #92e7c9;
    --green-med: #67d1ac;
    --green-dark: #41b38b;
    --green-opaque: rgb(167 236 212 / 0.5);
    --green-system: #0bd2b2;
    --blue-light: #97bfe5;
    --blue-med: #6d9ece;
    --blue-dark: #487cae;
    --orange-light: #ffc0a1;
    --orange-med: #ffa77d;
    --orange-dark: #ff925d;
    --black-med: #333431;
    --grey-light: #eee;
    --grey-med: #bdbdbd;
    --grey-opaque: #f6f9fa;
    --night-blue: #0b1a2f;
    --night-blue-light: #192b42;
}

body {
    margin: 0;
    color: var(--black-med);
    min-height: 100vh;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a {
    color: inherit;
}

a:focus,
button:focus {
    outline: none;
}

li {
    list-style: none;
}

h1 {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 1.2em;
    font-weight: 700;
}

button {
    cursor: pointer;
}

strong {
    color: inherit;
}

.fas {
    margin: 0 0.25em;
    color: inherit;
}

.fa-database {
    color: var(--blue-light);
}

.fa-user {
    color: var(--green-light);
}

/************ ELEMENT STYLES ************/

.page_wrap {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page_wrap.index {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23f6f9fa'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(40,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23eeeeee' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23eeeeee' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(57,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23eeeeee' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23eeeeee' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg %3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.home_form_wrap #bit_logo {
    max-width: 16em;
    margin: 1em;
}

#bit_logo {
    max-width: 12em;
    margin: 1em;
}

.home_form_wrap {
    margin-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.room_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
    animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

input[name="userName"] {
    border: none;
    border-bottom: 1px solid var(--green-med);
    border-radius: 0;
    background: var(--green-opaque);
}

button.room_add {
    border: 1px solid var(--green-dark);
    color: var(--green-med);
}

button.room_add:hover {
    border: none;
    color: white;
    background: var(--green-system);
}

.room_listing_wrap {
    overflow-y: auto;
    max-height: 16em;
    border-bottom: 1px solid var(--black-med);
    margin-bottom: 0.5em;
}

.room_list_wrap {
    width: 24em;
    border: 1px solid var(--black-med);
    padding: 3em;
    margin: 2em 0;
    border-radius: 0.25em;
    /* -webkit-box-shadow: 1em 1em var(--grey-light);
    box-shadow: 1em 1em var(--grey-light); */
    background: white;
}

.room_list_wrap button {
    width: 100%;
}

.room_user_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.room_listing {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 1em 0;
    border: 1px solid var(--black-med);
    padding: 0.5em;
    -webkit-box-shadow: 0.25em 0.25em var(--grey-light);
    box-shadow: 0.25em 0.25em var(--grey-light);
    border-radius: 0.25em;
}

.room_listing:hover {
    background: var(--grey-light);
}

.room_grid i {
    margin-left: 0.5em;
}

.room_controls {
    padding: 0 1em;
    margin-right: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 12em;
}

.room_name,
.room_description,
.user_list_wrap {
    margin-top: 1em;
}

.room_link {
    cursor: pointer;
    color: var(--grey-med);
    font-size: 0.8em;
}

.room_link:hover {
    color: var(--black-med);
}

#room_link_text {
    position: absolute;
    left: -99999px;
}

.room_privacy {
    font-size: 0.8em;
    opacity: 0.5;
}

.fa-eye {
    margin-left: 0;
}

.room_img {
    max-width: 10em;
    max-height: 10em;
    -webkit-box-shadow: 0.25em 0.25em var(--grey-light);
    box-shadow: 0.25em 0.25em var(--grey-light);
    border: 1px solid var(--black-med);
    border-radius: 0.25em;
}

.edit_controls_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.controls_edit {
    margin-top: 0.5em;
    border: 1px solid var(--black-med);
    margin-right: 0.5em;
    padding: 0.25em;
    border-radius: 0.125em;
}

.controls_delete {
    background: var(--orange-med);
    border: 1px solid var(--black-med);
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding: 0.25em;
    border-radius: 0.125em;
}

.user_list_wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    max-height: 12em;
}

.user_list_header {
    font-weight: 700;
    margin-bottom: 0.25em;
}

.user_list {
    padding: 0;
}

.user_list_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user_list_name::before {
    width: 0.5em;
    height: 0.5em;
    background: transparent;
    border-left: 1px solid var(--blue-light);
    border-bottom: 1px solid var(--blue-light);
    content: "";
}

.chat_wrap {
    border: 1px solid var(--black-med);
    width: 600px;
    -webkit-box-shadow: 0.5em 0.5em #efefef;
    box-shadow: 0.5em 0.5em #efefef;
    border-radius: 0.25em;
}

.messages_wrap {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message_name {
    font-weight: bold;
    margin: 0;
}

.message_text {
    margin-top: 0;
}

.message_time {
    font-size: 0.6em;
    margin-left: 0.5em;
    opacity: 0.75;
}

.chat_wrap ul {
    padding: 0;
    margin: 0;
}

.chat_wrap li {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.25em;
    background: var(--green-opaque);
}

.chat_wrap li.lobby-bot {
    background: var(--grey-light);
}

.input_wrap {
    border-top: 1px solid var(--black-med);
}

.input_wrap input[type="text"] {
    width: 85%;
    height: 2em;
    margin: 0;
    border: none;
    padding: 0.25em;
}

.input_wrap button[type="submit"] {
    width: 15%;
    height: 2em;
    margin: 0;
    border: none;
    border-left: 1px solid var(--black-med);
    padding: 0.25em;
    background: var(--green-light);
    border-radius: 0 0 0.25em 0;
}

.input_wrap button[type="submit"]:hover {
    background: var(--green-med);
}

.theme_wrap {
    position: absolute;
    top: 1em;
    right: 1em;
}

.theme_wrap button {
    -webkit-box-shadow: 0.25em 0.25em var(--grey-light);
    box-shadow: 0.25em 0.25em var(--grey-light);
}

.theme_wrap button.is-active {
    background: var(--green-light);
}

.theme_wrap i {
    padding: 0.25em 0;
}

#lightTheme {
    padding: 0.25em;
    margin: 0;
    border: 1px solid var(--black-med);
    border-right: none;
    border-radius: 0.125em 0.125em 0 0;
}

#darkTheme {
    padding: 0.25em;
    margin: 0;
    border: 1px solid var(--black-med);
    border-radius: 0 0 0.125em 0.125em;
}

footer {
    width: 100%;
    background: var(--black-med);
    padding: 0.5em;
    text-align: center;
}

footer a {
    color: var(--grey-light);
}

footer a:hover {
    color: var(--blue-light);
}

.edit_wrap {
    width: 24em;
    border: 1px solid var(--black-med);
    padding: 3em;
    margin: 2em 0;
    border-radius: 0.25em;
    -webkit-box-shadow: 0.5em 0.5em var(--grey-light);
    box-shadow: 0.5em 0.5em var(--grey-light);
    background: white;
}

.edit_wrap input {
    margin-bottom: 0.25em;
}

/************ DARK MODE STYLES ************/

body.dark {
    background: var(--night-blue);
    color: var(--green-light);
}

body.dark .page_wrap {
    background-image: none;
    background-color: transparent;
}

body.dark svg#bit_logo path {
    fill: var(--blue-light);
}

body.dark input[name="userName"] {
    color: var(--night-blue);
}

body.dark .room_listing {
    border: 1px solid var(--blue-dark);
    -webkit-box-shadow: 0.25em 0.25em var(--green-opaque);
    box-shadow: 0.25em 0.25em var(--green-opaque);
}

body.dark .room_listing:hover {
    background: var(--night-blue-light);
}

body.dark .room_img {
    -webkit-box-shadow: 0.25em 0.25em var(--night-blue-light);
    box-shadow: 0.25em 0.25em var(--night-blue-light);
}

body.dark .room_list_wrap {
    background: transparent;
    border: 1px solid var(--blue-dark);
    -webkit-box-shadow: 0.25em 0.25em var(--night-blue-light);
    box-shadow: 0.25em 0.25em var(--night-blue-light);
}

body.dark .button.is-primary {
    background-color: var(--green-opaque);
    color: var(--night-blue);
}

body.dark .button.is-primary:hover {
    background-color: var(--night-blue-light);
    border: 1px solid var(--blue-light);
    color: var(--green-light);
}

body.dark footer {
    background: var(--blue-dark);
}

body.dark .fa-user {
    color: var(--green-opaque);
    opacity: 0.5;
}

body.dark button.room_add {
    background: var(--blue-light);
    border-color: var(--blue-light);
    color: var(--black-med);
}

body.dark button.room_add:hover {
    background: var(--night-blue-light);
    border: 1px solid var(--blue-light);
    color: var(--blue-light);
}

body.dark .theme_wrap button {
    -webkit-box-shadow: 0.25em 0.25em var(--black-med);
    box-shadow: 0.25em 0.25em var(--black-med);
}

body.dark .chat_wrap {
    -webkit-box-shadow: 0.5em 0.5em var(--night-blue-light);
    box-shadow: 0.5em 0.5em var(--night-blue-light);
    border: 1px solid var(--green-opaque);
}

body.dark .chat_wrap li {
    background: var(--night-blue);
    border: 1px solid var(--green-opaque);
}

body.dark .chat_wrap li.lobby-bot {
    border: 1px solid var(--blue-light);
    color: var(--blue-light);
}

body.dark .input_wrap .input[type="text"] {
    background: var(--night-blue-light);
    border-radius: 0 0 0 0.25em;
    border-top: 1px solid var(--green-med);
}

body.dark .input_wrap button[type="submit"] {
    background: var(--green-med);
    border: 1px solid var(--green-med);
}

body.dark .edit_wrap {
    -webkit-box-shadow: 0.5em 0.5em var(--night-blue-light);
    box-shadow: 0.5em 0.5em var(--night-blue-light);
    border: 1px solid var(--blue-light);
    background: transparent;
}

body.dark .edit_wrap input {
    background: var(--green-opaque);
    color: var(--black-med);
}

/************ @ MEDIA QUERIES ************/

@media screen and (max-width: 768px) {
    #bit_logo {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .room_wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .room_controls {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0;
        margin: 1em 0;
        max-width: 100%;
    }
    .room_details_wrap {
        margin: 0 1em;
    }
    .room_img {
        max-width: 5em;
        max-height: 5em;
    }
    .room_name {
        margin: 0;
    }
    .room_description {
        margin: 0;
    }
    .user_list_wrap {
        display: none;
    }
    .chat_wrap {
        width: calc(100vw - 2em);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .messages_wrap {
        height: 20em;
    }
    .send_label {
        display: none;
    }
}

/************ ANIMATIONS ************/

.fade-in {
    -webkit-animation: fade-in 1.4s cubic-bezier(0.5, 1, 0.89, 1) forwards;
    animation: fade-in 1.4s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-in {
    -webkit-animation: slide-in 0.5s cubic-bezier(0.5, 1, 0.89, 1) forwards;
    animation: slide-in 0.5s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@-webkit-keyframes slide-in {
    from {
        opacity: 0;
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.spin {
    -webkit-animation: spin 0.5s cubic-bezier(0.5, 1, 0.89, 1);
    animation: spin 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*** delay util classes ***/

.polygon {
    -webkit-transform: rotateY(90deg) rotateX(-15deg);
    transform: rotateY(90deg) rotateX(-15deg);
    -webkit-animation: polymorph 1s ease-in-out forwards;
    animation: polymorph 1s ease-in-out forwards;
}

@-webkit-keyframes polymorph {
    from {
        -webkit-transform: rotateY(90deg) rotateX(-15deg);
        transform: rotateY(90deg) rotateX(-15deg);
    }
    to {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        transform: rotateY(0deg) rotateX(0deg);
    }
}

@keyframes polymorph {
    from {
        -webkit-transform: rotateY(90deg) rotateX(-15deg);
        transform: rotateY(90deg) rotateX(-15deg);
    }
    to {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        transform: rotateY(0deg) rotateX(0deg);
    }
}

.delay-0 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.delay-1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.delay-2 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
