@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap");

/************ GLOBAL STYLES ************/

:root {
    --green-light: #92e7c9;
    --green-med: #67d1ac;
    --green-dark: #41b38b;
    --green-opaque: rgb(167 236 212 / 0.5);
    --blue-light: #97bfe5;
    --blue-med: #6d9ece;
    --blue-dark: #487cae;
    --orange-light: #ffc0a1;
    --orange-med: #ffa77d;
    --orange-dark: #ff925d;
    --black-med: #333431;
}

body {
    margin: 0;
    color: var(--black-med);
    min-height: 100vh;
    transition: all 0.2s ease;
}

a {
    color: inherit;
}

a:focus,
button:focus {
    outline: none;
}

li {
    list-style: none;
}

h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 1.5em;
}

h2 {
    font-weight: 700;
}

button {
    cursor: pointer;
}

.fas {
    margin: 0 0.25em;
    color: inherit;
}

.fa-database {
    color: var(--blue-light);
}

.fa-user {
    color: var(--green-light);
}

/************ ELEMENT STYLES ************/

.page_wrap {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.room_wrap {
    display: flex;
    justify-content: center;
    animation: fade-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

input[name="userName"] {
    flex: 1;
}

.room_list_wrap {
    max-width: 300px;
}

.room_list_wrap button {
    width: 100%;
}

.room_listing {
    display: flex;
    justify-content: space-between;
}

.room_controls {
    padding: 0 1em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
}

.room_name,
.room_description,
.user_list_wrap {
    margin-top: 1em;
}

.room_privacy {
    font-size: 0.8em;
    opacity: 0.5;
}

.room_img {
    max-width: 200px;
    box-shadow: 0.25em 0.25em #eeeeee;
    border: 1px solid var(--black-med);
    border-radius: 0.25em;
}

.user_list_wrap {
    flex: 1;
}

.user_list {
    padding: 0;
}

.user_list_name {
    display: flex;
    align-items: center;
}

.user_list_name::before {
    width: 0.5em;
    height: 0.5em;
    background: transparent;
    border-left: 1px solid var(--blue-light);
    border-bottom: 1px solid var(--blue-light);
    content: "";
}

.chat_wrap {
    border: 1px solid var(--black-med);
    width: 600px;
    box-shadow: 0.5em 0.5em #efefef;
    border-radius: 0.25em;
}

.messages_wrap {
    height: 500px;
    overflow-y: scroll;
}

.message_name {
    font-weight: bold;
    margin: 0;
}

.message_text {
    margin-top: 0;
}

.message_time {
    font-size: 0.6em;
    margin-left: 0.5em;
    opacity: 0.75;
}

.chat_wrap ul {
    padding: 0;
    margin: 0;
}

.chat_wrap li {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.25em;
    background: var(--green-opaque);
}

.chat_wrap li.lobby-bot {
    background: #eee;
}

.input_wrap {
    border-top: 1px solid var(--black-med);
}

.input_wrap input[type="text"] {
    width: 85%;
    height: 2em;
    margin: 0;
    border: none;
    padding: 0.25em;
}

.input_wrap button[type="submit"] {
    width: 15%;
    height: 2em;
    margin: 0;
    border: none;
    padding: 0.25em;
    background: var(--green-light);
    border-radius: 0 0 0.25em 0;
}

.input_wrap button[type="submit"]:hover {
    background: var(--green-med);
}

.theme_wrap {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.theme_wrap button {
    box-shadow: 0.125em 0.125em #eee;
}

.theme_wrap button.is-active {
    background: var(--green-light);
}

.theme_wrap i {
    padding: 0.25em 0;
}

#lightTheme {
    padding: 0.25em;
    margin: 0;
    border: 1px solid var(--black-med);
    border-bottom: none;
    border-radius: 0.125em 0.125em 0 0;
}

#darkTheme {
    padding: 0.25em;
    margin: 0;
    border: 1px solid var(--black-med);
    border-radius: 0 0 0.125em 0.125em;
}

footer {
    width: 100%;
    background: #eee;
    color: var(--black-med);
    padding: 1em;
    text-align: center;
}

footer a {
    color: var(--black-med);
}

/************ DARK MODE STYLES ************/

body.dark {
    background: #0b1a2f;
    color: var(--green-light);
}

/************ @ MEDIA QUERIES ************/

@media screen and (max-width: 768px) {
    .room_wrap {
        flex-direction: column;
    }
    .room_controls {
        flex-direction: row;
    }
}

/************ ANIMATIONS ************/

.fade-in {
    animation: slide-in 1s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-in {
    animation: slide-in 0.5s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        -webkit-transform: translateX(40px);
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
